body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    margin: 0;
}
section{
    display: flex;
    flex-flow: row wrap;
    margin-left: 150px;
}
main {
justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 70px;
    padding-left: 50px;
}
h1 {
font-family: h1;
color: white;
width: 400px;
font-size: 36px;
}
button {
    height: 50px;
    width: 200px;
    font-family: open;
    border-radius: 30px;
    border: 0px solid black;
    font-size: 18px;
    color: hsl(257, 40%, 49%);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
button:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}
p {
    font-family: open;
    color: white;
    width: 470px;
}
img#logo{
width: 300px;
margin-bottom: 50px;
margin-top: 50px;
}
div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
img#mock {
}
@font-face {
    font-family: 'h1';
    src: url('Poppins/Poppins-Medium.ttf') format('truetype'); 
}
@font-face {
    font-family: 'open';
    src: url('Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype'); 
}
@media (max-width: 500px) {
    section {
        margin-left: 20px;
    }
    p {
        text-align: center;
        width: 370px;
    }
    img#mock {
    width: 430px;
    }
    button {
        position: absolute;
        margin-top: 420px;
        margin-left: 75px;
    }
    main {
        padding-left: 35px;
    }
    body {
        height: 1000px;
    }
}  
